{{#each blogPost.comments as |comment|}}
      {{!-- // the post is updated to display the comment, the comment creator’s username, and the date created --}}
    <p>{{comment.user_id}}</p>
    <p>{{comment.date_created}}</p>
    <p>{{comment.contents}}</p>
{{/each}}

<form id="comment-form-{{blogPost.id}}">
    <p>Leave a Comment:</p>
    <textarea id="comment-contents-{{blogPost.id}}" data-id="" placeholder="comment"></textarea>
    <button type="submit" id="comment-submit-btn-{{blogPost.id}}">Submit Comment</button>
</form>


        {{!-- contents
        date_created
        user_id:
        blogPost_id: --}}