{{! dashboard includes all posts a user has made and a form for creating a new post}}
<h2>Dashboard</h2>
{{#each blogPosts as |blogPost|}}
  <div class="container-fluid text-center">
    <div class="row row-col-6" id="individual-post-{{blogPost.id}}">
      <h2>{{blogPost.title}}</h2>
      <form class="visually-hidden" id="edit-post-form-{{blogPost.id}}" data-post_id="{{blogPost.id}}">
        <textarea
          id="post-title-{{blogPost.id}}"
          rows="1"
        >{{blogPost.title}}</textarea>
        <textarea
          id="post-contents-{{blogPost.id}}"
          rows="6"
        >{{blogPost.contents}}</textarea>
        <button type="submit" id="edit-post-button-{{blogPost.id}}">Submit
          Changes</button>
      </form>
      <button
        class="visually-hidden"
        type="button"
        id="del-post-btn-{{blogPost.id}}"
        data-post_id="{{blogPost.id}}"
      >Delete Post</button>
    </div>
  </div>
{{/each}}

<button type="button" id="reveal-new-post-btn">Create a new Post</button>

{{! WHEN I click on the button to add a new blog post I am prompted to enter both a title and contents for my blog post }}
<div class="visually-hidden" id="hidden-div">
  <form id="new-post-form">
    <h4>New Post</h4>
    <input id="post-title" placeholder="Title" />
    <textarea id="post-contents" placeholder="Post contents here"></textarea>
    <button type="submit" id="post-submit-btn">Submit Post</button>
  </form>
</div>

<script src="/js/dashboard.js"></script>