<h1>Homepage</h1>
{{#each blogPosts as |blogPost|}}
  <div class="row align-center mb-5">
    <div class="col-md-6" id="post-{{blogPost.id}}">
      {{!--   // WHEN I click on an existing blog post I am presented with the post title, contents,
       post creator’s username, and date created for that post and have the option to leave a comment --}}
      <h3>{{blogPost.title}}</h3>
      <div class="visually-hidden">
        <ul>
          <li>{{blogPost.contents}}</li>
          <li>Posted by: {{user.username}}</li>
          <li>Created on: {{blogPost.date_created}}</li>
        </ul>
        {{> commentSection}}
      </div>
    </div>
  </div>
{{/each}}

<script src="/js/homepage.js"></script>